[package]
name = "multi"
version = "1.0.8"
edition = "2021"
authors = ["Paijo"]
description = "Multi Auto Buy from Shopee.co.id(experimental)"
build = "build.rs"

[build-dependencies]
thunk = { git = "https://github.com/cari-404/thunk.git", package = "thunk-rs" }
winresource = "0.1"

[package.metadata.winresource]
FileDescription = "Multi Auto Buy from Shopee.co.id(experimental)"
LegalCopyright = "By Paijo"
OriginalFilename = "abs.exe"
CompanyName = "Paijo"

[dependencies]
runtime = { path = "../runtime", features = ["prepare-ext", "core", "checkout", "checkout_ng"] }
tokio = { version = "1", features = ["full"] }
serde_json = "1"
chrono = "0.4"
anyhow = "1.0"
structopt = "0.3"
num_cpus = "1.16"

[target.'cfg(windows)'.dependencies]
windows-sys = { version = "0.59", features = ["Win32_Foundation", "Win32_System_Console"] }
