[package]
name = "savevoucher"
version = "1.2.2"
edition = "2021"

[dependencies]
runtime = { path = "../runtime" }
tokio = { version = "1", features = ["full"] }
anyhow = "1.0"
chrono = "0.4"
indicatif = "0.17"
atty = "0.2.14"
windows-version = "0.1.0"
structopt = "0.3"