[package]
name = "abs"
version = "1.0.6"
edition = "2021"
authors = ["Paijo"]
description = "Auto Buy from Shopee.co.id"
build = "build.rs"

[build-dependencies]
thunk = { git = "https://github.com/cari-404/thunk.git", package = "thunk-rs" }
winresource = "0.1"

[package.metadata.winresource]
FileDescription = "Auto Buy from Shopee.co.id"
LegalCopyright = "By Paijo"
OriginalFilename = "abs.exe"
CompanyName = "Paijo"

[dependencies]
runtime = { path = "../runtime", features = ["core", "checkout"] }
tokio = { version = "1", features = ["full"] }
serde_json = "1"
chrono = "0.4"
anyhow = "1.0"
structopt = "0.3"
num_cpus = "1.16"
futures = "0.3"
rquest = { version = "1.5.5", features = ["gzip", "json"] }

[target.'cfg(windows)'.dependencies]
windows-sys = { version = "0.59", features = ["Win32_Foundation", "Win32_System_Console"] }
