name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  FINAL_VERSION: "1.0.10"

permissions:
  contents: write

jobs:
  build:
    name: ${{ matrix.platform.os_name }} with rust ${{ matrix.toolchain }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os_name: Android-aarch64
            os: ubuntu-24.04
            target: aarch64-linux-android
            bin: abs-linux-android-arm64
            savevoucher: savevoucher-linux-android-arm64
          - os_name: Linux-aarch64
            os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
            bin: abs-linux-arm64
            savevoucher: savevoucher-linux-arm64
          - os_name: Linux-x86_64
            os: ubuntu-24.04
            target: x86_64-unknown-linux-gnu
            bin: abs-linux-amd64
            savevoucher: savevoucher-linux-amd64
          - os_name: Linux-i686
            os: ubuntu-24.04
            target: i686-unknown-linux-gnu
            bin: abs-linux-i686
            savevoucher: savevoucher-linux-i686
          - os_name: Windows-x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            bin: abs-amd64.exe
            savevoucher: savevoucher-amd64.exe
            gui: launcabs-amd64.exe
            guing: LauncherNG-amd64.exe
          - os_name: Windows-aarch64
            os: windows-latest
            target: aarch64-pc-windows-msvc
            bin: abs-arm64.exe
            savevoucher: savevoucher-arm64.exe
            gui: launcabs-arm64.exe
            guing: LauncherNG-arm64.exe
          - os_name: Windows7-x86_64
            os: windows-latest
            target: x86_64-win7-windows-msvc
            bin: abs7-amd64.exe
            savevoucher: savevoucher7-amd64.exe
            gui: launcabs_7-amd64.exe
            guing: LauncherNG_7-amd64.exe
          - os_name: Windows-i686
            os: windows-latest
            target: i686-pc-windows-msvc
            bin: abs-i686.exe
            savevoucher: savevoucher-i686.exe
            gui: launcabs-i686.exe
            guing: LauncherNG-i686.exe
          - os_name: Windows7-i686
            os: windows-latest
            target: i686-win7-windows-msvc
            bin: abs7-i686.exe
            savevoucher: savevoucher7-i686.exe
            gui: launcabs_7-i686.exe
            guing: LauncherNG_7-i686.exe
          - os_name: WindowsXP-x86_64
            os: windows-latest
            target: x86_64-win7-windows-msvc
            bin: absXP-amd64.exe
            savevoucher: savevoucherXP-amd64.exe
            gui: launcabs_XP-amd64.exe
            guing: LauncherNG_XP-amd64.exe
          - os_name: WindowsXP-i686
            os: windows-latest
            target: i686-win7-windows-msvc
            bin: absXP-i686.exe
            savevoucher: savevoucherXP-i686.exe
            gui: launcabs_XP-i686.exe
            guing: LauncherNG_XP-i686.exe
        toolchain:
          - stable
    steps:
    - uses: actions/checkout@v3
    - name: Dependency
      if: matrix.platform.os_name == 'Linux-i686'
      run: |
        sudo dpkg --add-architecture i386
        sudo apt update
        sudo apt install build-essential gcc-multilib gcc-mingw-w64 libc6-dev-i386 libssl-dev:i386 libgcc-9-dev-i386-cross -y
        sudo apt install build-essential gcc-aarch64-linux-gnu g++-aarch64-linux-gnu libc6-dev-arm64-cross libstdc++6-arm64-cross
        sudo apt install gcc-i686-linux-gnu g++-i686-linux-gnu libc6-dev-i386-cross libstdc++6-i386-cross
        sudo apt install llvm-dev libclang-dev clang libgcc-9-dev-arm64-cross
        sudo apt install cmake g++-multilib gcc-multilib

    - name: Convert
      if: matrix.platform.os_name == 'Linux-aarch64'
      run: |
        sudo apt install build-essential gcc-aarch64-linux-gnu g++-aarch64-linux-gnu libc6-dev-arm64-cross libstdc++6-arm64-cross
        sudo apt install llvm-dev libclang-dev clang libgcc-9-dev-arm64-cross
        sudo apt install cmake g++-aarch64-linux-gnu gcc-aarch64-linux-gnu
        clang --version

    - name: Convert2
      if: matrix.platform.os_name == 'Windows-x86_64' || matrix.platform.os_name == 'Windows-i686' || matrix.platform.os_name == 'Windows-aarch64' || matrix.platform.os_name == 'Windows7-x86_64' || matrix.platform.os_name == 'Windows7-i686' || matrix.platform.os_name == 'WindowsXP-x86_64' || matrix.platform.os_name == 'WindowsXP-i686'
      run: |
        choco install nasm

    - name: Build binary Linux
      if: matrix.platform.os_name == 'Linux-x86_64' || matrix.platform.os_name == 'Linux-i686' || matrix.platform.os_name == 'Linux-aarch64'
      run: |
        rustup target add ${{ matrix.platform.target }}
        cargo +stable build --release --target ${{ matrix.platform.target }} -p abs
        cargo +stable build --release --target ${{ matrix.platform.target }} -p multi
        cargo +stable build --release --target ${{ matrix.platform.target }} -p savevoucher
        cargo +stable build --release --target ${{ matrix.platform.target }} -p updater

    - name: Build binary(abs)
      uses: houseabsolute/actions-rust-cross@v0
      if: matrix.platform.os_name == 'Windows-x86_64' || matrix.platform.os_name == 'Windows-i686' || matrix.platform.os_name == 'Windows-aarch64'
      with:
        command: "build"
        target: ${{ matrix.platform.target }}
        toolchain: ${{ matrix.toolchain }}
        args: "--release -p abs"
        strip: true
    - name: Build binary(multi)
      uses: houseabsolute/actions-rust-cross@v0
      if: matrix.platform.os_name == 'Windows-x86_64' || matrix.platform.os_name == 'Windows-i686' || matrix.platform.os_name == 'Windows-aarch64'
      with:
        command: "build"
        target: ${{ matrix.platform.target }}
        toolchain: ${{ matrix.toolchain }}
        args: "--release -p multi"
        strip: true
    - name: Build binary(savevoucher)
      uses: houseabsolute/actions-rust-cross@v0
      if: matrix.platform.os_name == 'Windows-x86_64' || matrix.platform.os_name == 'Windows-i686' || matrix.platform.os_name == 'Windows-aarch64'
      with:
        command: "build"
        target: ${{ matrix.platform.target }}
        toolchain: ${{ matrix.toolchain }}
        args: "--release -p savevoucher"
        strip: true

    - name: Build binary (lauchabs)
      uses: houseabsolute/actions-rust-cross@v0
      if: matrix.platform.os_name == 'Windows-x86_64' || matrix.platform.os_name == 'Windows-i686' || matrix.platform.os_name == 'Windows-aarch64' 
      with:
        command: "build"
        target: ${{ matrix.platform.target }}
        toolchain: ${{ matrix.toolchain }}
        args: "--release -p launcabs"
        strip: true

    - name: Build binary (LauncherNG)
      uses: houseabsolute/actions-rust-cross@v0
      if: matrix.platform.os_name == 'Windows-x86_64' || matrix.platform.os_name == 'Windows-i686' || matrix.platform.os_name == 'Windows-aarch64' 
      with:
        command: "build"
        target: ${{ matrix.platform.target }}
        toolchain: ${{ matrix.toolchain }}
        args: "--release -p launchng"
        strip: true

    - name: Build binary (updater)
      uses: houseabsolute/actions-rust-cross@v0
      if: matrix.platform.os_name == 'Windows-x86_64' || matrix.platform.os_name == 'Windows-i686' || matrix.platform.os_name == 'Windows-aarch64' 
      with:
        command: "build"
        target: ${{ matrix.platform.target }}
        toolchain: ${{ matrix.toolchain }}
        args: "--release -p updater"
        strip: true

    - name: Build for Android-NDK
      if: matrix.platform.os_name == 'Android-aarch64'
      run: |
        cargo install cargo-ndk
        rustup target add aarch64-linux-android armv7-linux-androideabi x86_64-linux-android i686-linux-android
        cargo ndk -t armeabi-v7a -t arm64-v8a build --release -p abs
        cargo ndk -t armeabi-v7a -t arm64-v8a build --release -p multi
        cargo ndk -t armeabi-v7a -t arm64-v8a build --release -p savevoucher
        cargo ndk -t armeabi-v7a -t arm64-v8a build --release -p updater

    - name: Configure for Windows XP Build
      if: matrix.platform.os_name == 'WindowsXP-x86_64' || matrix.platform.os_name == 'WindowsXP-i686'
      run: |
        rm console/Cargo.toml
        mv console/CargoXP.toml console/Cargo.toml
        rm console/build.rs
        mv console/buildXP.rs console/build.rs
        rm launcabs/Cargo.toml
        mv launcabs/CargoXP.toml launcabs/Cargo.toml
        rm launcabs/build.rs
        mv launcabs/buildXP.rs launcabs/build.rs
        rm launchng/Cargo.toml
        mv launchng/CargoXP.toml launchng/Cargo.toml
        rm launchng/build.rs
        mv launchng/buildXP.rs launchng/build.rs
        rm savevoucher/Cargo.toml
        mv savevoucher/CargoXP.toml savevoucher/Cargo.toml
        rm savevoucher/build.rs
        mv savevoucher/buildXP.rs savevoucher/build.rs
        rm updater/Cargo.toml
        mv updater/CargoXP.toml updater/Cargo.toml
        rm updater/build.rs
        mv updater/buildXP.rs updater/build.rs


    - name: Install nightly toolchain for Windows 7 64-bit or Windows XP 64-bit
      if: matrix.platform.os_name == 'Windows7-x86_64' || matrix.platform.os_name == 'WindowsXP-x86_64'
      run: |
        rustup toolchain install nightly-x86_64-pc-windows-msvc
        rustup target add x86_64-win7-windows-msvc --toolchain nightly-x86_64-pc-windows-msvc
        rustup component add rust-src --toolchain nightly-x86_64-pc-windows-msvc
        cargo +nightly-x86_64-pc-windows-msvc build --release -Z build-std=std,panic_abort --target x86_64-win7-windows-msvc -p launcabs
        cargo +nightly-x86_64-pc-windows-msvc build --release -Z build-std=std,panic_abort --target x86_64-win7-windows-msvc -p launchng
        cargo +nightly-x86_64-pc-windows-msvc build --release -Z build-std=std,panic_abort --target x86_64-win7-windows-msvc -p abs
        cargo +nightly-x86_64-pc-windows-msvc build --release -Z build-std=std,panic_abort --target x86_64-win7-windows-msvc -p multi
        cargo +nightly-x86_64-pc-windows-msvc build --release -Z build-std=std,panic_abort --target x86_64-win7-windows-msvc -p savevoucher
        cargo +nightly-x86_64-pc-windows-msvc build --release -Z build-std=std,panic_abort --target x86_64-win7-windows-msvc -p updater

    - name: Install nightly toolchain for Windows 7 32-bit or Windows XP 32-bit
      if: matrix.platform.os_name == 'Windows7-i686' || matrix.platform.os_name == 'WindowsXP-i686'
      run: |
        choco install llvm --x86 --force
        ls -R "C:\Program Files (x86)\LLVM\bin"
        ls -R "C:\Program Files\LLVM\bin"
        $env:LIBCLANG_PATH="C:\Program Files (x86)\LLVM\bin"
        rustup toolchain install nightly-i686-pc-windows-msvc
        rustup target add i686-win7-windows-msvc --toolchain nightly-i686-pc-windows-msvc
        rustup component add rust-src --toolchain nightly-i686-pc-windows-msvc
        cargo +nightly-i686-pc-windows-msvc build --release -Z build-std=std,panic_abort --target i686-win7-windows-msvc -p launcabs
        cargo +nightly-i686-pc-windows-msvc build --release -Z build-std=std,panic_abort --target i686-win7-windows-msvc -p launchng
        cargo +nightly-i686-pc-windows-msvc build --release -Z build-std=std,panic_abort --target i686-win7-windows-msvc -p abs
        cargo +nightly-i686-pc-windows-msvc build --release -Z build-std=std,panic_abort --target i686-win7-windows-msvc -p multi
        cargo +nightly-i686-pc-windows-msvc build --release -Z build-std=std,panic_abort --target i686-win7-windows-msvc -p savevoucher
        cargo +nightly-i686-pc-windows-msvc build --release -Z build-std=std,panic_abort --target i686-win7-windows-msvc -p updater

    - name: Run tests
      run: ls -R

    - name: Archive (linux)
      if: matrix.platform.os_name == 'Linux-x86_64' || matrix.platform.os_name == 'Linux-i686' || matrix.platform.os_name == 'Linux-aarch64' || matrix.platform.os_name == 'Android-aarch64'
      run: |
        sudo apt install p7zip-full
        cd target/${{ matrix.platform.target }}/release
        tar -czf ABS_${{matrix.platform.os_name}}-v${{ env.FINAL_VERSION }}.tar.gz abs savevoucher updater
        7z a ABS_${{ matrix.platform.os_name }}-v${{ env.FINAL_VERSION }}.7z abs savevoucher updater -mf=off

    - name: Archive (Windows)
      if: matrix.platform.os_name == 'Windows-x86_64' || matrix.platform.os_name == 'Windows-i686' || matrix.platform.os_name == 'Windows-aarch64' || matrix.platform.os_name == 'Windows7-x86_64' || matrix.platform.os_name == 'Windows7-i686' || matrix.platform.os_name == 'WindowsXP-x86_64' || matrix.platform.os_name == 'WindowsXP-i686'
      run: |
        choco install 7zip -y
        cd target/${{ matrix.platform.target }}/release
        Compress-Archive -Path abs.exe,savevoucher.exe,launcabs.exe,launchng.exe,updater.exe -DestinationPath ABS_${{matrix.platform.os_name}}-v${{ env.FINAL_VERSION }}.zip
        7z a ABS_${{ matrix.platform.os_name }}-v${{ env.FINAL_VERSION }}.7z abs.exe savevoucher.exe launcabs.exe launchng.exe updater.exe -mf=off

    - name: Release binary and SHA-256 checksum to GitHub (Linux)
      if: matrix.platform.os_name == 'Linux-x86_64' || matrix.platform.os_name == 'Linux-i686' || matrix.platform.os_name == 'Linux-aarch64' || matrix.platform.os_name == 'Android-aarch64'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v${{ env.FINAL_VERSION }}
        files: |
          target/${{ matrix.platform.target }}/release/ABS_${{matrix.platform.os_name}}-v${{ env.FINAL_VERSION }}.tar.gz
          target/${{ matrix.platform.target }}/release/ABS_${{matrix.platform.os_name}}-v${{ env.FINAL_VERSION }}.7z
    - name: Release binary and SHA-256 checksum to GitHub (Windows)
      if: matrix.platform.os_name == 'Windows-x86_64' || matrix.platform.os_name == 'Windows-i686' || matrix.platform.os_name == 'Windows-aarch64' || matrix.platform.os_name == 'Windows7-x86_64' || matrix.platform.os_name == 'Windows7-i686' || matrix.platform.os_name == 'WindowsXP-x86_64' || matrix.platform.os_name == 'WindowsXP-i686'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v${{ env.FINAL_VERSION }}
        files: |
          target/${{ matrix.platform.target }}/release/ABS_${{matrix.platform.os_name}}-v${{ env.FINAL_VERSION }}.zip
          target/${{ matrix.platform.target }}/release/ABS_${{matrix.platform.os_name}}-v${{ env.FINAL_VERSION }}.7z
